body {
	margin: 0;
}
body::after,
body::before {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	content: '';
}
/* this will be our background image */
body::after {
	background-image: url(cat-background.jpg);
	background-size: cover;
	z-index: -2;
}
body::before {
	background-color: rgba(255,255,255,0.90);
	z-index: -1;
}
#logo {
	width: 45px;
	float:left;
	margin-right: 0.5em;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}
#logo:hover {
	transform: rotate(-90deg);
}
header h2 {
	display: inline-block;
	float: left;
}
nav {
	display: inline-block;
	float: right;
}
nav ul {
	list-style-type: none;
}
nav ul,
header h2 {
	margin: 0;
	line-height: 55px;
	vertical-align: middle;
}
nav li {
	display: inline-block;
	margin-left: 1.5em;
}
header,
footer {
	background-color: #cc0044;
}
header {
	height: 55px;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.5em 0;
}
header > .content,
#main > .content {
	width: 800px;
	margin: 0 auto;
}

footer > .content {
	text-align: center;
}
.column-left,
.column-right {
	width: 50%;
	display: inline-block;
	vertical-align: top
}





